<h1>More details</h1>
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<p class="btn btn-success "><%= link_to 'Edit', new_restaurant_path(@restaurant) %> |</p>
<p class="btn btn-dark"><%= link_to 'Back', restaurants_path %> |</p>
<p class="btn btn-info"><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %> |</p>

<!-- <%# <a href="/tasks/:id/edit">Edit this task</a><br> %> -->
<p class="btn btn-lg btn-danger"><%= link_to "Delete #{@restaurant.name}",
    restaurant_path(@restaurant),
    method: :delete,
    data: { confirm: "Are you sure?" } %><br>
</p>

<!-- <%# <a href="/restaurants">Go back!</a> %> -->